<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= story.picture %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= story.content %>
  </p>

</div>
